{% extends 'base.html' %}


{% block content %}

    <div class="container">
      <form method="POST" action="/" style="width:40%; margin: 0 auto">
        {% csrf_token %}
      <div class="mb-3">
        <label for="Input1" class="form-label">Title</label>
        <input type="text" class="form-control"  name="title" id="Input1" placeholder="Add...">
      </div>
      <div class="mb-3">
        <label for="Textarea1" class="form-label">Desc</label>
        <textarea class="form-control" name="desc"  id="Textarea1" rows="3"></textarea>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="complete" >
        <label class="form-check-label" for="exampleCheck1">Check</label>
      </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>

<br>

<div class="container">
    <div class="row" class="md-4" class="bg-4"  class="sm-12">
 {% for task in tasks %}
<div class="card" style="width: 18rem;  margin: 1rem ">
  <div class="card-body">
    <h5 class="card-title">{{task.title}}</h5>
    <p class="card-text">{{task.desc}}</p>
      <h6 class="card-subtitle mb-2 text-muted">{{task.create}}</h6>
    <a href="{% url 'update_task' task.id %}" class="card-link">Edit</a>
    <a href="{% url 'delete_task' task.id %}" class="card-link">Delete</a>
  </div>
</div>
{% endfor %}
</div>
</div>





  {% endblock %}